<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="QualityEclipse"
            id="com.qualityeclipse.favorites">
      </category>
      <view
            name="Favorites"
            icon="icons/sample.gif"
            category="com.qualityeclipse.favorites"
            class="com.qualityeclipse.favorites.views.FavoritesView"
            id="com.qualityeclipse.favorites.views.FavoritesView">
      </view>
   </extension>

   <extension point="org.eclipse.ui.commands">
      <category
            description="Commands related to the Favorites View"
            id="com.qualityeclipse.favorites.commands.category"
            name="Favorites">
      </category>
      <command
            categoryId="com.qualityeclipse.favorites.commands.category"
            description="Open the Favorites view if it is not already visible"
            id="com.qualityeclipse.favorites.commands.openView"
            name="Open Favorites View">
      </command>
      <command
            categoryId="com.qualityeclipse.favorites.commands.category"
            description="Add selected items to the Favorites view"
            id="com.qualityeclipse.favorites.commands.add"
            name="Add">
      </command>
      <command
            categoryId="com.qualityeclipse.favorites.commands.category"
            description="Copy selected items in the Favorites view"
            id="com.qualityeclipse.favorites.commands.copy"
            name="Copy">
      </command>
      <command
            categoryId="com.qualityeclipse.favorites.commands.category"
            description="Cut selected items from the Favorites view"
            id="com.qualityeclipse.favorites.commands.cut"
            name="Cut">
      </command>
      <command
            categoryId="com.qualityeclipse.favorites.commands.category"
            description="Paste clipboard contents into the Favorites view"
            id="com.qualityeclipse.favorites.commands.paste"
            name="Paste">
      </command>
      <command
            categoryId="com.qualityeclipse.favorites.commands.category"
            description="Rename the selected entry in the Favorites view"
            id="com.qualityeclipse.favorites.commands.rename"
            name="Rename...">
      </command>
      <command
            categoryId="com.qualityeclipse.favorites.commands.category"
            description="Delete the selected entries in the Properties Editor"
            id="com.qualityeclipse.properties.editor.delete"
            name="Delete">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="com.qualityeclipse.favorites.menus.favoritesMenu"
               label="Favorites"
               mnemonic="v">
            <command
                  commandId="com.qualityeclipse.favorites.commands.openView"
                  icon="icons/sample.gif"
                  id="com.qualityeclipse.favorites.menus.openFavoritesView"
                  mnemonic="O">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeContexts">
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <equals
                              value="com.qualityeclipse.favorites.workbenchActionSet">
                        </equals>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.qualityeclipse.favorites.toolbars.main">
            <command
                  commandId="com.qualityeclipse.favorites.commands.openView"
                  icon="icons/sample.gif"
                  id="com.qualityeclipse.favorites.toolbars.openFavoritesView"
                  tooltip="Open the Favorites view">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeContexts">
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <equals
                              value="com.qualityeclipse.favorites.workbenchActionSet">
                        </equals>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               label="Favorites">
            <command
                  commandId="com.qualityeclipse.favorites.commands.add"
                  icon="icons/sample.gif"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <and>
                           <or>
                              <instanceof
                                    value="org.eclipse.core.resources.IResource">
                              </instanceof>
                              <instanceof
                                    value="org.eclipse.jdt.core.IJavaElement">
                              </instanceof>
                           </or>
                           <test
                                 property="com.qualityeclipse.favorites.notFavorite">
                           </test>
                        </and>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.views.ProblemView?after=additions">
         <command
               commandId="com.qualityeclipse.favorites.commands.openView"
               icon="icons/sample.gif"
               tooltip="Open the Favorites view">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.views.ProblemView?after=additions">
         <command
               commandId="com.qualityeclipse.favorites.commands.openView"
               icon="icons/sample.gif"
               tooltip="Open the Favorites view">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.views.ProblemView?after=additions">
         <command
               commandId="com.qualityeclipse.favorites.commands.openView"
               icon="icons/sample.gif"
               tooltip="Open the Favorites view">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:window?after=additions">
         <command
               commandId="com.qualityeclipse.favorites.commands.openView"
               icon="icons/sample.gif"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipse.ui.DefaultTextEditor">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:com.qualityeclipse.favorites.views.FavoritesView?before=edit">
         <command
               commandId="com.qualityeclipse.favorites.commands.cut"
               icon="icons/cut_edit.gif"
               tooltip="Cut the currently selected items from the Favorites view">
         </command>
         <command
               commandId="com.qualityeclipse.favorites.commands.copy"
               icon="icons/copy_edit.gif"
               tooltip="Copy the currently selected items in the Favorites view">
         </command>
         <command
               commandId="com.qualityeclipse.favorites.commands.paste"
               icon="icons/paste_edit.gif"
               tooltip="Paste clipboard contents into the Favorites view">
         </command>
         <command
               commandId="com.qualityeclipse.favorites.commands.rename"
               tooltip="Rename the currently selected Favorites item">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:com.qualityeclipse.favorites.views.FavoritesView?before=edit">
         <command
               commandId="com.qualityeclipse.favorites.commands.cut"
               icon="icons/cut_edit.gif"
               tooltip="Cut the currently selected favorites items">
         </command>
         <command
               commandId="com.qualityeclipse.favorites.commands.copy"
               icon="icons/copy_edit.gif"
               tooltip="Copy the currently selected favorite items">
         </command>
         <command
               commandId="com.qualityeclipse.favorites.commands.paste"
               helpContextId="Paste the contents of the clipboard into the Favorites view"
               icon="icons/paste_edit.gif">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:com.qualityeclipse.properties.editor?after=edit">
         <command
               commandId="com.qualityeclipse.properties.editor.delete"
               icon="icons/delete_edit.gif"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="+">
                  </count>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="com.qualityeclipse.favorites.menus.PropertiesEditor"
               label="Properties Editor">
            <command
                  commandId="com.qualityeclipse.properties.editor.delete"
                  icon="icons/delete_edit.gif">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeEditorId">
                  <equals
                        value="com.qualityeclipse.properties.editor">
                  </equals>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.qualityeclipse.properties.editor.toolbar">
            <command
                  commandId="com.qualityeclipse.properties.editor.delete"
                  icon="icons/delete_edit.gif">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeEditorId">
                  <equals
                        value="com.qualityeclipse.properties.editor">
                  </equals>
               </with>
            </visibleWhen>
         </toolbar>
      </menuContribution>
   </extension>
   <extension point="org.eclipse.ui.handlers">
      <handler class="com.qualityeclipse.favorites.handlers.OpenFavoritesViewHandler"
               commandId="com.qualityeclipse.favorites.commands.openView">
      </handler>
      <handler
            class="com.qualityeclipse.favorites.handlers.AddToFavoritesHandler"
            commandId="com.qualityeclipse.favorites.commands.add">
      </handler>
      <handler
            class="com.qualityeclipse.favorites.handlers.CopyFavoritesHandler"
            commandId="org.eclipse.ui.edit.copy">
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="com.qualityeclipse.favorites.views.FavoritesView">
               </equals>
            </with>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="selection">
               <count
                     value="+">
               </count>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.qualityeclipse.favorites.handlers.CopyFavoritesHandler"
            commandId="com.qualityeclipse.favorites.commands.copy">
         <enabledWhen>
            <with
                  variable="selection">
               <count
                     value="+">
               </count>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.qualityeclipse.favorites.handlers.CutFavoritesHandler"
            commandId="org.eclipse.ui.edit.cut">
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="com.qualityeclipse.favorites.views.FavoritesView">
               </equals>
            </with>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="selection">
               <count
                     value="+">
               </count>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.qualityeclipse.favorites.handlers.CutFavoritesHandler"
            commandId="com.qualityeclipse.favorites.commands.cut">
         <enabledWhen>
            <with
                  variable="selection">
               <count
                     value="+">
               </count>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.qualityeclipse.favorites.handlers.PasteFavoritesHandler"
            commandId="org.eclipse.ui.edit.paste">
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="com.qualityeclipse.favorites.views.FavoritesView">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="com.qualityeclipse.favorites.handlers.PasteFavoritesHandler"
            commandId="com.qualityeclipse.favorites.commands.paste">
      </handler>
      <handler
            class="com.qualityeclipse.favorites.handlers.RenameFavoritesHandler"
            commandId="com.qualityeclipse.favorites.commands.rename">
         <enabledWhen>
            <with
                  variable="selection">
               <count
                     value="+">
               </count>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.qualityeclipse.favorites.handlers.DeletePropertiesHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="com.qualityeclipse.properties.editor">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="com.qualityeclipse.favorites.handlers.DeletePropertiesHandler"
            commandId="com.qualityeclipse.properties.editor.delete">
         <enabledWhen>
            <with
                  variable="selection">
               <count
                     value="+">
               </count>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.qualityeclipse.favorites.workbenchActionSet"
            label="Favorites ActionSet"
            visible="true">
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.qualityeclipse.favorites.propertyTester.FavoritesTester"
            id="com.qualityeclipse.favorites.propertyTester"
            namespace="com.qualityeclipse.favorites"
            properties="isFavorite, notFavorite"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="com.qualityeclipse.properties.editor.context"
            name="Properties Editor Context"
            parentId="org.eclipse.ui.textEditorScope">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.qualityeclipse.favorites.commands.add"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Shift+A">
      </key>
      <key
            commandId="com.qualityeclipse.properties.editor.delete"
            contextId="com.qualityeclipse.properties.editor.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F9">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.qualityeclipse.favorites.editors.PropertiesEditor"
            default="false"
            extensions="properties"
            icon="icons/sample.gif"
            id="com.qualityeclipse.properties.editor"
            name="Properties Editor">
      </editor>
   </extension>
   

</plugin>
